.go {
    padding: 100px;
}

.box {
    display: flex;
    /* display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 500px;
    gap: 15px;
    align-items: center;
    border: solid;
    border-color: #dedede;
    border-width: 1px;
    border-radius: 30px;
    background-color: #f8f8f8; */
}

.go__picture {
    width: 800px;
    margin: 0;
    align-self: center;
    overflow: hidden;
}

.go__picture img {
    width: 100%;
    height: auto;
    border-radius: 30px 30px 0px 30px;
}