.header-navbar {
    position: fixed;
    
    display: flex;
    width: 80%;
    height: 50px;
    box-sizing: border-box;
    padding-inline: 20px;
    
    justify-content: space-between;
    align-items: center;
    
    font-size: 15px;
    
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header-navbar__logo {
    display: flex;
    width: 50px;
    margin: 0;

    align-items: baseline;
    gap: 5px;
}

.header-navbar__logo img {
    width: 100%;
}

.header-navbar__list {
    display: flex;

    gap: 50px;

    transition: all 0.3s ease;

    list-style: none;
}

.header-navbar__element a {
    color: #333;
    text-decoration: none;
}

.header-navbar__burger {
    z-index: 1000;

    display: none;
    padding: 10px;
    
    background: none;
    border: none;
    
    cursor: pointer;
}

.header-navbar__burger span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;

    background: #333;
    border-radius: 15px;
    
    transition: all 0.3s ease;
}


@media (max-width: 768px) {
    .header-navbar__burger {
        display: block;
    }

    .header-navbar__list {
        position: fixed;
        top: 0;
        left: -100%;
        width: 70%;
        height: 100vh;
        background: white;
        flex-direction: column;
        padding: 80px 20px 20px;
        gap: 20px;
        transition: left 0.3s ease;
        z-index: 999;
        box-shadow: 2px 0 10px rgba(0,0,0,0.1);
        border-radius: 0 8px 8px 0;
        color: #333;
    }

    .header-navbar__element a:link, .header-navbar__element a:visited, .header-navbar__element a {
        text-decoration: none;    
        color: #333;
    }

    .header-navbar__list.active {
        left: 0;
    }

    .header-navbar__burger.active span:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .header-navbar__burger.active span:nth-child(2) {
        opacity: 0;
    }

    .header-navbar__burger.active span:nth-child(3) {
        transform: rotate(-45deg) translate(7px, -6px);
    }

    .no-scroll {
        overflow: hidden;
    }
}