.header {
    background: linear-gradient(rgba(204, 184, 184, 0.3), var(--bg-color)), url(../images/hero_bg.jpg) no-repeat center/cover fixed;
    height: 100vh;
    padding: 8px;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}