:root {
    --bg-color: rgba(240, 240, 224, 1);
    --text-color: rgba(99, 81, 71, 1);
    --card-bg: rgba(255, 255, 255, 0.5);
    --card-border: rgba(0, 0, 0, 0.1);
    --shadow-color: rgba(0, 0, 0, 0.1);
    --highlight-color: #e50012;
    --research-break: radial-gradient(#333, #f0f0f0);
    --gap: 100px;
}

[data-theme="dark"] {
    --bg-color: rgba(240, 240, 224, 1);
    --text-color: #f0f0f0;
    --card-bg: rgba(20, 20, 30, 0.7);
    --card-border: rgba(255, 255, 255, 0.1);
    --shadow-color: rgba(255, 255, 255, 0.1);
    --highlight-color: #e50012;
    --research-break: radial-gradient(white, #08090d);
}